#content
	.intro
		%h2 Pam Zola Weddings: How It Came To Be
		%p Pam Zola Weddings was founded in 2014 while helping her younger sister plan her wedding. Her sister kept praising Pam’s natural talent, sincere interest and overflowing energy for the tasks and decisions at hand. It was during one of these planning sessions that it all clicked. Pam is thrilled to be pursuing her passion for weddings and planning and couldn’t feel luckier to be a part of her clients’ most celebratory day.

		%h2 About Pam: From There to Here
		%p #{image_tag "pam.jpg", :width => "140px", :style => "float:left; padding: 5px 10px 10px 0px"} Born and raised in New York, Pam is stylish and elegant, and a strong advocate for her clients. She gets it done! Pam has spent fifteen of the last eighteen years making her home out West. The Coloradan in her is open-minded, a problem solver, and bends without breaking. Pam’s laugh and smile are contagious. When she is not planning weddings, you can find her around the dinner table with friends, in the mountains with her dog Rigly, on the ski slopes and the bike trails with her husband Natty, or on the yoga mat.  She pinches herself on a daily basis that she actually gets to be a part of this community.

		%h2 Love From Past Clients
		#testimonials
			.column
				%p “I can't imagine getting married without Pam.  From the first time we talked, it was easy and comfortable - I knew that having Pam as our wedding planner would make the entire process easier and more enjoyable for me, my mom and my husband.  In the weeks and months leading up to the wedding Pam kept me on track by providing helpful planning tools and setting deadlines for when we needed to have information confirmed and provided to her and our vendors.  
				%p On the day of the wedding, I know there are a million things Pam managed that I'm not even aware of because she allowed me to focus on getting ready for the ceremony.   With Pam, I had complete trust that everything would go smoothly and that if there were any hiccups she'd be able to handle them midstream and figure out another solution.  As someone who likes to be in control at all times, I was somewhat nervous about turning over the reins to another person but I can honestly say that having Pam as our planner allowed me to be more present for the wedding.   Because Pam was so organized going into the wedding, I was completely relaxed as I got ready - absent of any stress or anxiety.  
				%p Pam is a perfect blend of confidence, organization and flexibility and completely fun to work with.”  
				%p.author - Maren, Bride
				%hr
				%p "Pam was a fantastic resource to help guide us through the planning and execution process of our wedding.  The detail that she put into the planning and execution was truly exceptional. We got a detailed production schedule of the day of our event with all the pieces laid out for us.  All we had to do was show up and enjoy our wedding.  Once the wedding got started - we didn't' have to think about a thing.  Pam coordinated all of the pieces together and made sure that our wedding went off without a hitch."
				%p.author - Jack, Groom
			.column
				%p “I would hire Pam in a heartbeat if I wasn't already married. She basically got everything done without you really knowing she was there. As the maid of honor, that's exactly what you want for the bride and for the wedding party and guests. When we ran through the rehearsal and during other logistics on the wedding day, she has a way of directing people that just feels like she’s a friend, but a calm friend you trust to be in control. The entire weekend appeared to operate flawlessly in large part thanks to Pam.” 
				%p.author - Jessica, Maid of Honor
				%hr

				%p “Pam is organized and focused on small details and also very aware of the big picture. We had few unexpected turns in our wedding and Pam resolved issues seamlessly  –   we and our guests never noticed! She  even managed to give our dogs a little extra care and set aside extra food and dessert for us to enjoy later that night! She is professional, works hard, and I wouldn’t hesitate to recommend her for any event.”    
				%p.author - Scott, Groom
				%hr

				%p "We were not even sure we would need a wedding planner but we are so glad now that we chose Pam for our special event. Pam was so easy to work with throughout the entire planning process, especially coordinating and communicating with all of our vendors. She thought of things that needed attention and took care of them before we were even aware! Having her made all the difference in how I could relax and enjoy my daughter's wedding day!" 
				%p.author - Kathy, Mother of the Bride

				%hr
				%p "Jack and I weren't initially planning on hiring a wedding planner.  But by the end of our wedding, we couldn't have imagined getting through our weekend event without Pam! Pam helped coordinate all of the pieces that we would never have thought of. We didn't want to give these duties to friends or family - we wanted our friends and family to simply be able to enjoy the event.  Pam helped make that possible."
				%p.author - Josh, Groom





