#content
	.intro
		%h2 Pam Zola Weddings: How It Came To Be
		%p Pam Zola Weddings was founded in 2014 while helping her younger sister plan her wedding. Her sister kept praising Pam’s natural talent, sincere interest and overflowing energy for the tasks and decisions at hand. It was during one of these planning sessions that it all clicked. Pam is thrilled to be pursuing her passion for weddings and planning and couldn’t feel luckier to be a part of her clients’ most celebratory day.

		%h2 About Pam: From There to Here
		%p #{image_tag "pam.jpg", :width => "140px", :style => "float:left; padding: 5px 10px 10px 0px"} Born and raised in New York, Pam is stylish and elegant, and a strong advocate for her clients. She gets it done! Pam has spent fourteen of the last seventeen years making her home out West. The Coloradan in her is open-minded, a problem solver, and bends without breaking. Pam’s laugh and smile are contagious. When she is not planning weddings, you can find her around the dinner table with friends, in the mountains with her dog Rigly, on the ski slopes and the bike trails with her husband Natty, or on the yoga mat.  She pinches herself on a daily basis that she actually gets to be a part of this community.

