#content
	.hero
		=image_tag "contact.jpg"
	.intro
		%h2 Lets Talk!
		%p Initial consults are free, so don't hesitate to get in touch with me!
		%p=link_to("pam@pamzolaweddings.com", "mailto:pam@pamzolaweddings.com")
		%p=link_to("303-325-4692", "tel:3033254692")
		%h2 The Union Cooperative
		%p I host a regular meetup where brides-to-be and newlyweds come share information, stories and experiences over cocktails. #{link_to "Join the fun!", "https://www.facebook.com/groups/559965990774561/"}

		
		%p Next meetup is #{link_to "September 10th", "https://www.facebook.com/events/608727802575484/"}
		%p Last meetup was #{link_to "July 30th", "https://www.facebook.com/events/264370310419091/"}