#content
	.hero
		=image_tag "contact.jpg"
	.intro
		%h2 Lets Talk!
		%p Initial consults are free, so don't hesitate to get in touch with me!
		%p=link_to("pam@pamzolaweddings.com", "mailto:pam@pamzolaweddings.com")
		%p=link_to("303-325-4692", "tel:3033254692")
		%h2 The Union Cooperative
		%p I host a regular meetup where brides-to-be and newlyweds come share information, stories and experiences over cocktails. Join the fun!
		%p Next meetup is July 30
		%p Contact me for details!