#content
	.hero
		/ %img{src: "http://placehold.it/800x300"}
		=image_tag "tools.jpg"
	.intro
		%h2 Free Wedding Planning Tools
		%p Here are some free tools to help you start planning. You’re welcome to copy these. If you work with me, I’ll help you customize and manage these, as well as create additional documents to organize your wedding. If you find these helpful, follow me! I will be continually adding new and useful tools for you to use!
		%ul
			%li #{link_to "Master Wedding Planning Doc", "https://docs.google.com/spreadsheets/d/1uYnx_sd2DtEOJRgkDKYs_nBiosPkMHSR5A36Djx3jnM/edit#gid=0"} - Use each tab to meet all your planning needs
			%li #{link_to "Day of Timeline", "https://docs.google.com/spreadsheet/ccc?key=0Ar3bbMnkkH48dC00NWJCMnNwMzR2T1VUNE1wNGdsUWc&usp=drive_web#gid=3"}
			%li #{link_to "Inner Circle Details", "https://docs.google.com/document/d/1cPOK8Ti6DdzZhrtyI97GM-jh97ag3HXDlDAVOPJoh6o"}
