#logo
  %h1#homepage
    / %span#n Pam Zola
    / %span#e Weddings
    %span#a Pam Zola
    %span#b Weddings
#content
  .intro
    %p Pam Zola Weddings is a wedding planning business based in Boulder, Colorado. To each and every wedding, Pam enables your vision with her sense of style and impeccable attention to detail.
  #images
    =image_tag "homepage/pamzolaweddings_pamzolaweddings1.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings2.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings3.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings4.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings5.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings6.png"   
  .intro.clearfix
    %p My goal is to make wedding planning fun and organized so that you feel minimal stress and maximum joy. During the planning, I will think of everything! “Everything” includes, but is not limited to: anticipating problems; acting as an intermediary and skilled communicator between vendors, family members and you; and orchestrating all the moving pieces. We’ll prioritize and decide where to simplify and where to glamify. I will connect you with vendors who will get your vision, personality and budget – and may even come to feel like your new best friends! As the wedding day approaches, your to-do lists will dwindle down to nothing.  And when the BIG day arrives, I expect to see you calm, joyful and present, with confidence that all will go as planned.
  #images
    =image_tag "homepage/pamzolaweddings_pamzolaweddings7.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings8.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings9.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings10.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings11.png"
    =image_tag "homepage/pamzolaweddings_pamzolaweddings12.png"
  #attribution.clearfix
    %p Photo credits and thank yous to the amazing and talented: #{link_to "Jenna Walker Photographers", "http://www.jennawalkerphotography.com/jenna.html"},  #{link_to "Dreamtime Images", "http://www.dreamtimeimages.com/"}, #{link_to "Kate Holstein Photographs", "http://www.kateholstein.com/"}, and #{link_to "Verve Studio", "http://www.vervestudio.com/"}.
  #footer