#content
	.hero
		=image_tag "inspiration.jpg"
	.intro
		%h2 Things To Look At
		%ul
			%li Things I’m Loving on Pinterest! - #{link_to "Pam Zola Weddings on Pinterest", "http://www.pinterest.com/pamzolaweddings/"}
			%li Let's be Facebook Friends! - #{link_to "Pam Zola Weddings on Facebook", "https://www.facebook.com/pages/Pam-Zola-Weddings/303218319856703"}
			%li What I've been Instagram-ing - #{link_to "@pamzolaweddings", "http://instagram.com/pamzolaweddings"}
			%li My blog - coming soon
			%li Recommended Readings on Love, Design and Weddings - coming soon
			%li Photo Gallery - coming soon

