#content
	.hero
		=image_tag "services.jpg"
	.intro
		%h2 Wedding Planning Services:
		%p I offer everything from day of coordination to full wedding planning.  I like to meet with my clients and discuss their needs as soon as possible and then decide on a package and scope of work that best fits each couple. Here are some services that I offer:
		%ul
			%li Provide local vendor recommendations & review vendor contracts
			%li Organize and attend vendor meetings
			%li Create and assist with Pinterest inspiration boards
			%li Advise on registry, etiquette, invitations
			%li Manage rentals
			%li Create and update budget spreadsheet
			%li Build and maintain countdown timeline to keep on top of deadlines
			%li Construct detailed ceremony & reception timeline
			%li Maintain on-going communication with chosen vendors 
			%li Attend venue site walk-through & tasting
			%li Organize and run ceremony rehearsal & processional
			%li Assist with ceremony planning & officiant advising
			%li Manage floor plan & seating chart
			%li Take care of ceremony and reception set-up & break down
			%li On-site for the entirety of the event
			%li Distribute final vendor payments
			%li Collect & return personal items
		%h2 It’ll go something like this:
		%p Step One, Getting Started: Contact me as soon as you get engaged (or once you begin to consider a planner)!  We’ll meet and discuss your weddings ideas, details, and considerations.  We can start to brainstorm together, and talk about how I would work to make your vision a reality.  Then we’ll move forward to customize your package and contract.
		%p Step Two, “Month of” Coordination: It’s go time! We’ll be in tight communication the month leading up to your big day.  We’ll finalize a detailed ceremony and reception timeline, confirm vendor contracts, and review design. All of this valuable correspondence will be recorded in google docs for you, me and the vendors so that we are literally all on the same page.
		%p Step Three, “Day of” Coordination: As Logistical Captain, I will manage everything we can anticipate, and of course, I’ll also manage the things we can’t anticipate. While I’m troubleshooting and executing every last detail, you will be enjoying this most special celebration.



