#content
	.hero
		=image_tag "services.jpg"
	.intro
		%h2 Wedding Planning Services:
		%p I offer everything from day of coordination to full wedding planning.  I like to meet with my clients and discuss their needs as soon as possible and then decide on a package and scope of work that best fits each couple.
		%ul
			%li Vendor recommendations
			%li Vendor contract review
			%li Pinterest inspiration boards
			%li Countdown timeline
			%li Detailed ceremony & reception timeline
			%li Site walk-through
			%li Ceremony planning/officiant advising
			%li Floor plan & seating chart
			%li Ceremony rehearsal & processional
			%li Reception set-up & break down
			%li Distribution of vendor payments
			%li Collection & return of personal items
		%h2 It’ll go something like this:
		%p Step One, Getting Started: Contact me as soon as you get engaged (or once you begin to consider a planner)!  We’ll meet and discuss your weddings ideas, details, and considerations.  We can start to brainstorm together, and talk about how I would work to make your vision a reality.  Then we’ll move forward to customize your package and contract.
		%p Step Two, “Month of” Coordination: It’s go time! We’ll be in tight communication the month leading up to your big day.  We’ll finalize a detailed ceremony and reception timeline, confirm vendor contracts, and review design. All of this valuable correspondence will be recorded in google docs for you, me and the vendors so that we are literally all on the same page.
		%p Step Three, “Day of” Coordination: As Logistical Captain, I will manage everything we can anticipate, and of course, I’ll also manage the things we can’t anticipate. While I’m troubleshooting and executing every last detail, you will be enjoying this most special celebration.



